<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model with Page Factories">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test thread-count="5" name="Go To View All Work Test">
		<classes>
			<class name="com.shanku.testcases.goToViewAWorktTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Click On Portfolio Page Test">
		<classes>
			<class name="com.shanku.testcases.clickOnPortfolioPageTest" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
